<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-tabs class="tabs-icon-top  tabs-color-active-positive ">
    <ion-tab title="首页" class="light-bg " icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline"
             href="tab/main">
        <ion-nav-view name="tab-main"></ion-nav-view>
    </ion-tab>

    <ion-tab title="报价" class="light-bg " icon-on="ion-ios-people" icon-off="ion-ios-people-outline" icon-on="ion-star"
             href="tab/offer">
        <ion-nav-view name="tab-project"></ion-nav-view>
    </ion-tab>
    <ion-tab title="首页" class="light-bg " icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline"
             href="tab/main">
        <ion-nav-view name="tab-main"></ion-nav-view>
    </ion-tab>

    <ion-tab title="报价" class="light-bg " icon-on="ion-ios-people" icon-off="ion-ios-people-outline" icon-on="ion-star"
             href="tab/offer">
        <ion-nav-view name="tab-project"></ion-nav-view>
    </ion-tab>
</ion-tabs>

